<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Task</title>
    <link rel="stylesheet" href="/css/add.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="icon" type="image/png" href="/images/logo.png" />
  </head>
  <body>
  <div id="popup" th:if="${errorMessage}" class="popup-error">
    <span th:text="${errorMessage}"></span>
  </div>

  <div
          th:if="${successMessage}"
          class="popup-success"
          style="margin-bottom: 15px"
  >
    <span th:text="${successMessage}"></span>
  </div>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="main-wrapper">
      <div class="content-body">
        <div class="form-container">
          <div class="form-sidebar">
            <div class="sidebar-top">
              <span class="status-dot"></span>
              <span class="badge">Workspace</span>
            </div>
            <div class="sidebar-text">
              <h2>Add New Task</h2>
              <p>
                Step into organizing your tasks efficiently. Start by filling
                out the details below to keep everything on track. Happy
                tasking!
              </p>
            </div>
            <div class="decoration-element"></div>
          </div>

          <div class="form-main-content">
            <form
              th:action="@{/api/tasks/add}"
              th:object="${task}"
              method="post"
            >
              <div class="form-group">
                <label for="name">Task Name</label>
                <input
                  type="text"
                  id="name"
                  th:field="*{title}"
                  placeholder="What needs to be done?"
                  required
                />
              </div>

              <div class="form-row">
                <div class="form-group flex-2">
                  <label for="description">Description</label>
                  <input
                    type="text"
                    id="description"
                    th:field="*{description}"
                    placeholder="Brief overview of the task..."
                    required
                  />
                </div>
                <div class="form-group flex-1">
                  <label for="dueDate">Due Date</label>
                  <input
                    type="date"
                    id="dueDate"
                    th:field="*{dueDate}"
                    required
                  />
                </div>
              </div>

              <div class="form-row action-row">
                <div class="form-group flex-1">
                  <label for="priority">Priority</label>
                  <select th:field="*{priority}" id="priority">
                    <option
                      th:each="p : ${T(enums.TaskPriority).values()}"
                      th:value="${p}"
                      th:text="${p.label}"
                    ></option>
                  </select>
                </div>

                <div class="form-group flex-1">
                  <label for="status">Status</label>
                  <select th:field="*{status}" id="status">
                    <option
                      th:each="s : ${T(enums.TaskStatus).values()}"
                      th:value="${s}"
                      th:text="${s.label}"
                    ></option>
                  </select>
                </div>

                <div class="form-group flex-1 button-container">
                  <input type="submit" value="Save Task" class="submit-btn" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>
