<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password | TimeIt</title>
    <link rel="stylesheet" href="/css/pswd.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="icon" type="image/png" href="/images/logo.png" />
  </head>

  <body>
    <div th:if="${errorMessage}" class="popup-error">
      <span th:text="${errorMessage}"></span>
    </div>

    <div th:if="${successMessage}" class="popup-success">
      <span th:text="${successMessage}"></span>
    </div>

    <div class="blob shape-1"></div>
    <div class="blob shape-2"></div>
    <div class="blob shape-3"></div>

    <div class="forgot-container">
      <div class="forgot-card">
        <div class="forgot-title">Forgot Password?</div>
        <div class="forgot-subtitle">
          Enter your registered email. We’ll send you a secure OTP to reset your
          password.
        </div>

        <form th:action="@{/auth/forgot-password}" method="post">
          <div class="input-group">
            <label>Email Address</label>
            <input type="email" name="email" required />
          </div>

          <input type="submit" value="Send OTP" class="submit-btn" />
        </form>

        <div class="back-login">
          Remembered your password?
          <a th:href="@{/auth/login}">Back to login</a>
        </div>
      </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>
