<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Task</title>
    <link rel="stylesheet" href="/css/add.css" />
</head>
<body>

<header class="page-header">
    <div class="page-header-content">
        <h1>Edit Task</h1>
        <a href="/api/tasks" class="back-link">Back to Task List</a>
    </div>
</header>

<div class="form-container">
    <div th:if="${errorMessage}" class="error-message">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{|/api/tasks/update/${task.id}|}" th:object="${task}" method="post">
        <div>
            <label>Title</label>
            <input type="text" th:field="*{title}" required minlength="3" maxlength="50" />
        </div>

        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}" required maxlength="500" />
        </div>

        <div>
            <label>Due Date</label>
            <input type="date" th:field="*{dueDate}" />
        </div>

        <div class="form-group-grid">
            <div>
                <label>Priority</label>
                <select th:field="*{priority}">
                    <option th:each="p : ${T(enums.TaskPriority).values()}"
                            th:value="${p}" th:text="${p.label}">
                    </option>
                </select>
            </div>

            <div>
                <label>Status</label>
                <select th:field="*{status}">
                    <option th:each="s : ${T(enums.TaskStatus).values()}"
                            th:value="${s}" th:text="${s.label}">
                    </option>
                </select>
            </div>
        </div>
        <input type="submit" value="Update Task" class="update-btn" />
    </form>

    <p style="text-align: center; margin-top: 20px;">
        <a th:href="@{/api/tasks}" class="cancel-link">Cancel</a>
    </p>

</div>

<footer>
    <div class="clock-icon-container">
        <img th:src="@{/images/clock.png}" class="clock-icon" alt="Time" />
    </div>
    <div>Task Reminder App &copy; 2025 - Created By Archie</div>
</footer>

</body>
</html>